.DS_Store
advent_of_code_2023day2'; & 'CProgram FilesBellSoftLibericaJDK-21-Fullbinjava.exe' '-XX+ShowCodeDetailsInExceptionMessages' '-cp' 'DProjectsadvent_of_code_2023day2targetclasses' 'com.adventofcode.Main' 